In [7]:
import os

#importing libraries
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
from matplotlib import pyplot as plt
import seaborn as sns

#automated feature generation tools
import featuretools as ft 
from tsfresh import extract_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters

In [32]:
df = pd.read_csv('./Data/1_out.csv', parse_dates=['date'])
df = df.dropna()
df["store_item"] = df["store"].astype(str) +  "," + df["item"].astype(str)
y = df["sales"]
df = df.drop(columns=["Unnamed: 0","store","item","sales"])
df

,date,month,day_of_month,day_of_year,week_of_year,day_of_week,year,is_wknd,is_month_start,is_month_end,quarter,is_quarter_start,is_quarter_end,is_year_start,is_year_end,store_item
0,2013-01-01,1,1,1,1,1,2013,0,1,0,1,1,0,1,0,"1,1"
1,2013-01-02,1,2,2,1,2,2013,0,0,0,1,0,0,0,0,"1,1"
2,2013-01-03,1,3,3,1,3,2013,0,0,0,1,0,0,0,0,"1,1"
3,2013-01-04,1,4,4,1,4,2013,1,0,0,1,0,0,0,0,"1,1"
4,2013-01-05,1,5,5,1,5,2013,1,0,0,1,0,0,0,0,"1,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,2017-12-27,12,27,361,52,2,2017,0,0,0,4,0,0,0,0,"10,50"
912996,2017-12-28,12,28,362,52,3,2017,0,0,0,4,0,0,0,0,"10,50"
912997,2017-12-29,12,29,363,52,4,2017,1,0,0,4,0,0,0,0,"10,50"
912998,2017-12-30,12,30,364,52,5,2017,1,0,0,4,0,0,0,0,"10,50"
912999,2017-12-31,12,31,365,52,6,2017,1,0,1,4,0,1,0,1,"10,50"

<h1>Automated Feature Generation 
<h2>tsFresh Feature Extraction

In [33]:
extracted_features = extract_features(df,column_id="store_item",column_sort="date")
extracted_features

Feature Extraction:   0%|          | 0/30 [00:00<?, ?it/s]